<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complementary DNA Sequences</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Add your CSS styling here */
    </style>
</head>
<body>
    <h1>Complementary DNA Sequences</h1>
    <input type="file" id="fasta-file" accept=".fasta">
    <button id="analyze-btn">Analyze</button>
    <h2>Input Sequences</h2>
    <pre id="input-sequences"></pre>
    <h2>Output Sequences</h2>
    <pre id="output-sequences"></pre>
    <button id="download-btn" style="display:none">Download Complementary Sequences</button>
    <script src="/static/app.js"></script>
</body>
</html>
